@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

:root {
    --omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
    --omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
    --omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
    --omrs-color-interaction: #1e4bd1;
    --omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
    --omrs-color-danger: #b50706;
    --omrs-color-bg-low-contrast: #eff1f2;
    --omrs-color-ink-high-contrast: #121212;
    --omrs-color-bg-high-contrast: #ffffff;
    --shadow-default: text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    --tab-inner-color: gray;
}

html,
body {
    width: auto;
    height: auto;
}

body {
    font-family: "Spartan";
    color: #2A293E; 
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: darkslategray;
}

.backgroundimage {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

@media all and (max-width: 768px) {
    .backgroundimage {
        width: auto;
        top: -400px;
        left: -400px;
        /* height: 100%; */
    }
}

.content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container {
    width: 600px;
    padding: 10px 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.43);
}

@media all and (max-width: 768px) {
    .container {
        width: 80%;
    }
}

.introduction {
    display: flex;
    justify-content: space-evenly;
}

@media all and (max-width: 768px) {
    .introduction {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}

.introblurb {
    text-align: center;
    margin: auto;
}

.portrait {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid black;
    background: lightgray;
    overflow: hidden;
}

.portrait img {
    height: inherit;
    width: auto;
    border-radius: 100%;
    transition: scale .75s;
}

.portrait img:hover {
    scale: 1.2;

}

.logo {
    width: 30px;
    height: auto;
}

.tabcontainer {
    display: flex;
    justify-content: space-evenly;
}

.contenttab {
    width: auto;
    background: var(--tab-inner-color);
    padding: 10px 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border: 1px solid black;
    /* Safari */
    -webkit-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* IE10+/Edge */
    -ms-user-select: none;
    /* Standard */
    user-select: none;
}

@media all and (max-width: 768px) {
    .contenttab {
        padding: 5px 10px;
        border-radius: 5px;
    }
}

.dropdown {
    width: 80%;
    background: var(--tab-inner-color);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.dropdownheader {
    font-weight: bold;
    padding: 5px;
    /* Safari */
    -webkit-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* IE10+/Edge */
    -ms-user-select: none;
    /* Standard */
    user-select: none;
}

.dropdownblurb {
    text-align: left;
    padding: 0 10px;
    background-color: lightgray;
}

.projectlist {
    text-decoration: none;
}

.projectbox {
    background: gray;
    border: 2px solid black;
    padding: 10px;
    color: rgb(69, 69, 69);
    margin-bottom: 10px;
    display: flex;
}

.projectbox:visited {
    color: white;
}

.projectbox:hover {
    background-color: darkgray;
}

.projectbox a {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-right: 10px;
    border-right: 1px solid darkgray;
}

.projectblurb {
    width: 70%;
    margin-left: auto;
}

.hidden {
    display: none;
}

.returntotop {
    border: 1px solid black;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: var(--tab-inner-color);
    padding: 2px 5px;
    border-radius: 5px;
    /* Safari */
    -webkit-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* IE10+/Edge */
    -ms-user-select: none;
    /* Standard */
    user-select: none;
}

.contact-me {
    background: #f8f4e5;
    padding: 50px 100px;
    border-top: 10px solid #f45702;
}

.contact-me label,
.contact-me input,
.contact-me textarea {
    display: block;
    width: 100%;
    font-size: 12pt;
    line-height: 24pt;
    font-family: "Spartan";
}

.contact-me input {
    margin-bottom: 24pt;
}

.contact-me h3 {
    font-weight: normal;
    font-size: 10pt;
    line-height: 24pt;
    font-style: italic;
    margin: 0 0 .5em 0;
}

.contact-me span {
    font-size: 8pt;
}

.contact-me em {
    color: #f45702;
    font-weight: bold;
}

.contact-me input,
.contact-me textarea {
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: #f8f4e5;
    padding-left: 5px;
    outline: none;
}

.contact-me input:focus,
.contact-me textarea:focus {
    border: 1px solid #6bd4b1;
}

.contact-me textarea {
    resize: none;
}

.contact-me button {
    display: block;
    float: right;
    line-height: 24pt;
    padding: 0 20px;
    border: none;
    background: #f45702;
    color: white;
    letter-spacing: 2px;
    transition: .2s all ease-in-out;
    border-bottom: 2px solid transparent;
    outline: none;
}

.contact-me button:hover {
    background: inherit;
    color: #f45702;
    border-bottom: 2px solid #f45702;
}

.contact-me ::selection {
    background: #ffc7b8;
}

.contact-me input:-webkit-autofill,
.contact-me input:-webkit-autofill:hover,
.contact-me input:-webkit-autofill:focus,
.contact-me textarea:-webkit-autofill,
.contact-me textarea:-webkit-autofill:hover,
.contact-me textarea:-webkit-autofill:focus {
    border: 1px solid #6bd4b1;
    -webkit-text-fill-color: #2A293E;
    -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
    transition: background-color 5000s ease-in-out 0s;
}